.formHolder p{
  text-align: center;
  font-family: Sans-serif;
  font-size: 25px;
  padding-top: 7px;
}

.formHolder {
  position: absolute;
  top: 35px;
  left: 560px;
  background: #ecf0f1;
  width: 400px;
  border-radius: 5px;
}

.formHolder input[type="text"], .formHolder input[type="password"], .formHolder input[type="date"], .formHolder input[type="email"] {
  padding: 7px 5px;
  margin: 20px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.randompad {
  padding: 20px 20px 20px 20px;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

.svgClass
{
  position: relative;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  animation: svgRun 15s infinite linear;
}

@keyframes svgRun
{
  0%{}
  50% {transform: translate(1500px,0) rotate(360deg);}
  100%{transform: translate(0%,0);}
}

#butAdd{
  top:446px;
  left:980px;
}

#butDelete{
  top:446px;
  left:1070px;
}

.but  {
  position: absolute;
  background: #1abc9c;
  padding: 3px;
  font-size: 15px;
  display: block;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.newMail{
  position: absolute;
  top:425px;
  left:1150px;
}

.newMail input[type="email"] {
  padding: 5px 5px;
  margin: 20px 0;
  width: 96%;
  display: block;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

/*header*/
p {color: #524f4e;}
html, body {min-height:100%}

.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #F73E24;
  transition:.3s linear;
}

.menu-main a:before {
  content:"";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition:.3s linear;
  text-decoration: none;
}
.menu-main a:hover{
  text-decoration: none;
  color: #F73E24;
}

.menu-main a:hover:before {opacity: 1;}

@media (max-width:660px){
  .menu-main {float: none;padding-top:20px}
  .top-menu {text-align:center;padding: 20px 0 0 0}
  .menu-main a {padding: 0 10px;}
  .menu-main a:before{transform: rotate(45deg) translateX(-6px);}
}
@media (max-width:600px){
  .menu-main li {display: block;}
}

.footer {
  position: absolute;
  left: 0; bottom: 0;
  padding-top: 19px;
  color: #000000;
}

.footerBtn{
  position: fixed;
  bottom:0;
  right: 0;
}

.footer button{
  color: black;
  text-decoration: none;
}

.footer button:hover{
  color: black;
  text-decoration: none;
}
/*header*/

/*account*/
body.account
{
  font-family: 'Lato', 'sans-serif';
}
.profile
{
  min-height: 355px;
  display: inline-block;
}
.divider
{
  border-top:1px solid rgba(0,0,0,0.1);
}

span.tags
{
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
/*account*/
